*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR START*/
header{
    top: 0;
    left: 0;
    padding: 40px 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 1000;
}

a{
    text-decoration: none;
    color: rgb(18, 18, 18);
}

.sticky{
    padding: 10px 100px;
    background-color: white;
}

.sticky ul li a, .sticky .name{
    color: rgb(18, 18, 18);
}

header ul li a, header .name{
    color: white;
}

header .name{
    position: relative;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.6s;
}

/* NAVBAR end*/


/* FIRST PAGE */
.first-page{
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.929);
    position: relative;
}

.first-page .text{
    bottom: 0;
    right: 0;
    padding: 100px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.first-page .animation-planet{
    z-index: 10;
    width: 250px;
    height: 250px;
    top: 30%;
    left: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: 999999;
}

.first-page .animation-planet .planet{
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    /* position: fixed; */
    position: absolute;
    transform: translate(-50%, -50%);
    background: url(./planet2.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow:  inset 0 0 25px black,
                 0 0 50px rgba(255, 255, 255, 0.621);
    animation: planetRotating 30s linear infinite;
}

@keyframes planetRotating
{
    0%{
        background-position:  0 0;
    }
    100%{
        background-position: -2400px 0;
    }
}

.first-page .animation-planet .circle{
    transform-style: preserve-3d;
    animation: animatedText 10s linear infinite;
}

.first-page .animation-planet .circle span{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg / 16)))
    translateZ(170px);
}

@keyframes animatedText
{
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }
    100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
}



/* ABOUT ME */
.about{
    padding: 20px;
    width: 100%;
    height: 110vh;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* overflow-y: auto; */
}

.about .col1{
    padding: 50px;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 800px;
    position: relative;
    top: 0;
}

.about .col1 .item{
    width: 300px;
    height: 350px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    color: rgb(18, 18, 18);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.about .col1 .item:hover{
    background-color: rgba(0, 0, 0, 0.929);
    color: white;
    letter-spacing: 3px;
}
  
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 10s all ease;
  }
  
.reveal.active {
    transform: translateY(0);
    animation: reveal 3s linear forwards;
  }

@keyframes reveal
{
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
} 
  


/* MY SKILLS */
.skills{
    padding: 20px 0 20px 80px;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.skills .title{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.skills .table{
    width: 100%;
    height: 80vh;
}

.skills .table .hidden{
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: center;
}


.skills .table .html:hover + #hidden-html {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;

}

.skills .table .javascript:hover + #hidden-javascript {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
  }

.skills .table .python:hover + #hidden-python {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
  }

.skills .table .oop:hover + #hidden-oop {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
}

.skills .table .sql:hover + #hidden-sql {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
}
.skills .table .django:hover + #hidden-django {
    display: block;
    padding: 0 !important;
    border: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
}

.skills .table div{
    padding-left: 15%;
    width: 100%;
    height: calc(80vh / 6);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* PORTFOLIO */
.portfolio{
    margin-top: 10%;
    padding: 10px 20px 10px 80px;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio .title{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.portfolio .main{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.portfolio .main .col1{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.portfolio .main .col1 .name{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.portfolio .main .col1 .name .chat{
    margin-left: 40px;
    padding-left: 30px;
}


.portfolio .main .col1 .about-chat{
    margin: 20px 0 0 70px;
    width: 400px;
    height: 300px;
    color: rgb(18, 18, 18);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}


.portfolio .main .col2{
    width: 60%;
    height: 100%;
}

.portfolio .main .col2 .images{
    display: flex;
    flex-direction: column;
}

.portfolio .main .col2 .images .image{
    width: 100%;
}

.portfolio .main .col2 .images .image .item{
    width: 200px;
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.portfolio .main .col2 .images .image .one{
    margin-left: 20%;
}

.portfolio .main .col2 .images .image .two{
    margin-left: 70%;
}


.portfolio .main .col2 .images .image .item .hidden{
    display: none;
}

.portfolio .main .col2 .images .image .item .hidden{
    display: block;
    color: white;
}




.portfolio .github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .github .text{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.portfolio .github .text a{
    border-bottom: 4px solid black;
}

/* CONTACT */
.contact{
    height: 70vh;
    background-color: white;
}

.contact .title{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.contact .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact .links .linkedin{
    padding: 40px;
}

.contact .footer{
    text-align: center;
}